@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 210 40% 98%;

		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--ring: hsl(212.7, 26.8%, 83.9);
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

*::-webkit-scrollbar {
	width: 0.5rem;
	background: var(--background);
}

*::-webkit-scrollbar-thumb {
	background: var(--muted);
	border-radius: var(--radius);
}



/* TABLES */

/* Table Styles */
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    /* margin: 25px 0; */
	background: #f8f8f8b4;
	backdrop-filter: blur(10px) saturate(180%);
}

/* Table Header */
table thead th {
    background-color: #34db77;
    color: #142923;
    text-align: left;
    font-weight: 600;
    /* padding: 12px; */
    text-transform: capitalize;
    letter-spacing: 1px;
}

/* Table Body */
table tbody td {
    padding: 12px;
    border-bottom: 1px solid #f2f2f2;
    color: #333;
}

/* Alternating Row Colors */
table tbody tr:nth-child(even) {
    background-color: #f8f8f8;
}

/* Hover Effect */
table tbody tr:hover {
    background-color: #46c099;
    transition: background-color 0.3s ease;
	font-weight: 600;
	cursor: pointer;
}

/* Last Row */
table tbody tr:last-child td {
    border-bottom: none;
}

/* Responsive Design */
@media screen and (max-width: 600px) {
    table thead {
        display: none;
    }
    
    table, table tbody, table tr, table td {
        display: block;
        width: 100%;
    }
    
    table tr {
        margin-bottom: 15px;
    }
    
    table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }
    
    table td::before {
        content: attr(data-label);
        position: absolute;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }
}