node_modules
dist
.env


# Ignore original TypeScript files
*.ts
./node_server/src/api/main.ts

# Don't ignore encrypted files
!node_server/src/**/*.ts.enc

!dec-*.ts
!enc-*.ts

# Node modules
node_modules/

# Build output
dist/

# Environment variables
.env

# Other directories that don't need to be versioned
env/
landing_page/